.header {
    padding: .8rem 0;
    display: flex;
    align-items: center;

    &__tel {
        display: flex;
        align-items: center;

        &-icon {
            width: 40px;
            height: 40px;
            background-color: var(--header-icon-bgcolor);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .MuiSvgIcon-root {
                color: var(--primary-color);
                font-size: 18px;
            }
        }

        &-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-left: .5rem;

            a,
            p {
                color: var(--title-color);
            }

            a:first-child,
            p {
                margin-bottom: 4px;
            }

            small {
                color: #9fa8b2;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    &__menu {
        &-icon {
            color: var(--primary-color);
            margin-right: 0.5rem;
            cursor: pointer;
        }
    }

    &-logo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__mode {
        background-color: var(--primary-light-color) !important;
        padding: 8px !important;
    }
}


.MuiInputBase-root .MuiSvgIcon-root {
    left: 7px !important;
    color: var(--title-color);
}

.MuiSelect-select {
    padding-right: 16px !important;
    text-align: right;
}

.ant-drawer-body {
    padding: 0 !important;
}

.ant-drawer-header {
    padding: 16px !important;
}

.ant-menu.ant-menu-root {
    border: none;
}

.ant-drawer-header-title {
    flex-direction: row-reverse;
    align-items: center;
}

.ant-drawer-close {
    margin: 0 !important;
}