.compilance_main {

	.compliance_btn {
		Button {
			display    : block;
			margin-top : 20px;
			font-style : normal;
			font-weight: 600;
			font-size  : 18px;
			line-height: 130%;

			display    : flex;
			align-items: center;

			color: #031E39;
		}

		.btn-compliance {
			width : 452px;
			height: 48px;

			@media(max-width: 510px) {
				width : 410px;
				height: 100%;
			}

			@media(max-width: 468px) {
				width : 340px;
				height: 100%;
			}

			@media(max-width: 400px) {
				width : 280px;
				height: 100%;
			}

			@media(max-width: 330px) {
				width : 220px;
				height: 100%;
			}
		}

		h4 {
			margin-top : 40px;
			font-style : normal;
			font-weight: 600;
			font-size  : 18px;
			line-height: 130%;

			color: #000000;

		}
	}
}