.gallery {
    background-repeat: no-repeat;
    background-size: cover;

    &__img_wrapper {
        width: 100%;
        height: 330px;
        border-radius: 12px;
        overflow: hidden;

        &:hover img {
            transform: scale(var(--scale));
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform var(--duration) var(--timing);
    }
}