.offer__img {
    width: 100%;
    border-radius: 12px;
    height: 420px;
    overflow: hidden;

    &:hover img {
        transform: scale(var(--scale));
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
        transition: transform var(--duration) var(--timing);
    }
}