.news {

    .news__swipper__wrapper {
        margin-top: 30px;
        .news_swiper {
            padding-bottom: 30px;
        }
    }

    .news_carusel_top {
        p {
            margin-bottom: 0;
        }

        .new_carusel_arrows {
            button {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }
}