.news__swipper {
    position: relative;
}

.swiper {
    position: unset;
}

.swiper-wrapper {
    padding-left: 16px;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-70%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.swiper-button-prev {
    left: unset;
    right: 40px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1rem;
    color: white;
}