.about {
    background-image: url('../../../public/assets/img/about-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.about__picture img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.about__numbers {
    margin: 2rem 0 1rem -0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about__numbers-item {
    margin: .5rem;
    width: 150px;
    background-color: #E5EEF8;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

.about__numbers-item h2 {
    color: #052D56;
    font-weight: 700;
}

.about__numbers-item p {
    color: #052D56;
    font-weight: 400;
}

.about .about__img {
    border-radius: 8px;
    width: 100%;
    height: 220px !important;
    object-fit: cover;
}