.certif_carusel {
	.swiper {
		margin: 20px 0;
	}

	.certif__img {
		width: 100%;
		height: 350px;
		overflow: hidden;
		border-radius: 12px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}