.jobs_wrapper{ 
	padding: 37px 120px 0px 33px ;
	.jobs_body {
		margin-top: 40px;
		display: flex;
	}
	h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 130%;

		color: #011223;

	}
}