:root {
    --font               : 16px;
    --primary-color      : #00468D;
    --primary-light-color: #3179C2;
    --title-color        : #011223;
    --text-color         : #252C34;
    --header-icon-bgcolor: #ECF2F9;
}